# Directorios de entorno virtual
venv/
scikitlearn_tutorial_venv/

# Archivos de byte compilados de Python
__pycache__/
*.py[cod]

# Archivos de paquetes
*.egg-info/
dist/

# Archivos de configuración del IDE (depende del IDE que uses)
.idea/
.vscode/
*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db


# Archivos de notebooks si los resultados no son necesarios en VCS
*.ipynb_checkpoints/

# Archivos de salida del modelo (si son muy grandes o generados automáticamente)
*.pkl
*.joblib

# Archivos de logs
*.log
